@using LittleArkFoundation.Areas.Admin.Models.Database
@using LittleArkFoundation.Data
@inject IHttpContextAccessor HttpContextAccessor
@model DatabaseViewModel
@{
    ViewData["Title"] = "Manage Database";
    Layout = "_AdminLayout";
}

<h2>Manage Database</h2>
<hr />

<div>
    @if (Model.CurrentConnectionString == Model.DefaultConnectionString)
    {
        <a href="@Url.Action("CreateNewDatabaseYear")" class="btn btn-success" onclick="return confirm('Warning! creating a new database year will automatically archive this years database, do you still want to continue?');">
            Create new database year
        </a>
    }
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="table-responsive" style="width: 60%;">
    <table class="table" style="width: max-content;">
        <thead>
            @if (Model != null)
            {
                <tr>
                    <th>Connect to database</th>
                    <th>Database Name</th>
                    <th>Actions</th>
                </tr>
            }
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var database in Model.Databases)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Connect", new { connectionString = database.Value })"
                               class="btn btn-primary @(database.Key == Model.CurrentDatabaseName ? "disabled" : "")">
                                Connect
                            </a>
                        </td>
                        <td>@database.Key</td>
                        <td>
                            <a href="@Url.Action("Backup", new { name = database.Key })" class="btn btn-success" onclick="return confirm('Are you sure you want to backup this database?');">Backup</a>
                            <a href="@Url.Action("Restore", new { name = database.Key })" class="btn btn-secondary" onclick="return confirm('Are you sure you want to restore this database?');">Restore</a>
                            @if (database.Key != Model.DefaultDatabaseName)
                            {
                                <a href="@Url.Action("Delete", new { name = database.Key })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this database?');">Delete</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>


