@model UsersViewModel

@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
    bool isArchive = ViewBag.isArchive ?? false;
    string? sortBy = ViewBag.sortBy ?? null;
}

<style>
    .sticky-col {
        position: sticky;
        left: 0;
        background: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }
</style>

<h2>Users</h2>
<hr />

<div class="search-container">
    <form asp-action="Search" asp-controller="Users" asp-route-isArchive="@isArchive">
        <div class="input-group">
            <input type="search" name="searchString" class="form-control" placeholder="Search by UserID/Username" aria-label="Search">
            <button type="submit" class="btn btn-dark">Search</button>
        </div>
    </form>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Users" asp-route-isArchive="@isArchive">Back to Full List</a>
</div>

<div class="d-flex justify-content-between align-items-center">
    @* Left toggles/buttons *@
    <div class="d-flex align-items-center gap-3">
        @if (!isArchive)
        {
            @if (User.HasClaim("Permission", "CreateUser"))
            {
                <a href="#" class="btn btn-success hide-when-archived" data-bs-toggle="modal" data-bs-target="#createUserModal"
                   data-bs-toggle="tooltip"
                   title="Create New">
                    <i class="bi bi-person-add"></i> Create New
                </a>
            }
            else
            {
                <a class="btn btn-success text-muted hide-when-archived"
                   style="cursor: not-allowed;"
                   aria-disabled="true"
                   tabindex="-1"
                   title="You do not have permission to create a new user">
                    <i class="bi bi-person-add"></i> Create New
                </a>
            }
        }

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a asp-action="Index" asp-controller="Users" asp-route-isArchive="false" class="btn btn-secondary @(isArchive ? "" : "active")">
                <div class="custom-radio">
                    <input type="radio" style="accent-color: dodgerblue" value="main" @(isArchive ? "" : "checked")>
                    <label style="margin-bottom: 0">Active</label>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Users" asp-route-isArchive="true" class="btn btn-secondary @(isArchive ? "active" : "")">
                <div class="custom-radio">
                    <input type="radio" style="accent-color: dodgerblue" value="archive" @(isArchive ? "checked" : "")>
                    <label style="margin-bottom: 0">Archived</label>
                </div>
            </a>
        </div>
    </div>

    @* Right toggles/buttons *@
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle d-flex align-items-center gap-1" data-bs-toggle="dropdown" aria-expanded="false">
            @if (string.IsNullOrEmpty(sortBy))
            {
                <span class="mb-0">Filter by Role</span>
            }
            else
            {
                <span class="mb-0">@sortBy</span>
            }
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-action="SortBy" asp-controller="Users" asp-route-sortByRoleID="" asp-route-isArchive="@isArchive">All</a></li>
            @foreach (var role in Model.Roles)
            {
                <li><a class="dropdown-item" asp-action="SortBy" asp-controller="Users" asp-route-sortByRoleID="@role.RoleID" asp-route-isArchive="@isArchive">@role.RoleName</a></li>
            }
        </ul>
    </div>

</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-fluid px-0 mx-0" style="max-width: 1400px;">
    <div class="table-responsive" style="overflow-x: auto;">
        <table class="table" style="min-width: 1200px;">
            <thead>
                @if (Model.Users != null || Model.UsersArchives != null)
                {
                    if (!isArchive)
                    {
                        <tr>
                            <th class="sticky-col" style="left: 0; z-index: 2;">Actions</th>
                            <th>UserID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>PhoneNumber</th>
                            <th>PasswordHash</th>
                            <th>RoleID / RoleName</th>
                            <th>CreatedAt</th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th class="sticky-col" style="left: 0; z-index: 2;">Actions</th>
                            <th>UserID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>PhoneNumber</th>
                            <th>PasswordHash</th>
                            <th>RoleID / RoleName</th>
                            <th>CreatedAt</th>
                            <th>ArchivedAt</th>
                            <th>ArchivedBy</th>
                        </tr>
                    }
                }

            </thead>
            <tbody>
                @if (Model.Users != null || Model.UsersArchives != null)
                {
                    if (!isArchive)
                    {
                        @foreach (var user in Model.Users)
                        {
							var roleName = Model.Roles.FirstOrDefault(r => r.RoleID == user.RoleID)?.RoleName ?? "Unknown";
							var currentUserId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

                            <tr>
                                <td class="sticky-col d-flex gap-1" style="white-space: nowrap; left: 0; z-index: 1;">
                                    @if (User.HasClaim("Permission", "EditUser"))
                                    {
                                        <a href="@Url.Action("Edit", new { id = user.UserID })" class="btn btn-primary hide-when-archived"
                                            data-bs-toggle="tooltip"
                                            title="Edit">
                                            <i class="bx bx-edit"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary text-muted hide-when-archived"
                                           style="cursor: not-allowed;"
                                           aria-disabled="true"
                                           tabindex="-1"
                                           title="You do not have permission to edit user">
                                            <i class="bx bx-edit"></i>
                                        </a>
                                    }

                                    @if (User.HasClaim("Permission", "ArchiveUnarchiveUser"))
                                    {
                                        if (user.RoleID != 1 && user.UserID != int.Parse(currentUserId))
                                        {
                                            <a href="@Url.Action("Archive", new { id = user.UserID })" class="btn btn-danger hide-when-archived" onclick="return confirm('Are you sure you want to archive this user?');"
                                               data-bs-toggle="tooltip"
                                               title="Archive User">
                                                <i class="bi bi-archive"></i>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger text-muted hide-when-archived"
                                           style="cursor: not-allowed;"
                                           aria-disabled="true"
                                           tabindex="-1"
                                           title="You do not have permission to archive user">
                                            <i class="bi bi-archive"></i>
                                        </a>
                                    }
                                </td>
                                <td style="white-space: nowrap;">@user.UserID</td>
                                <td style="white-space: nowrap;">@user.Username</td>
                                <td style="white-space: nowrap;">@user.Email</td>
                                <td style="white-space: nowrap;">@user.PhoneNumber</td>
                                <td class="td-password" style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@user.PasswordHash</td>
                                <td style="white-space: nowrap;">@user.RoleID / @roleName</td>
                                <td style="white-space: nowrap;">@user.CreatedAt</td>
                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var user in Model.UsersArchives)
                        {
                            var roleName = Model.Roles.FirstOrDefault(r => r.RoleID == user.RoleID)?.RoleName ?? "Unknown";

                            <tr>
                                <td class="sticky-col d-flex gap-1" style="white-space: nowrap; left: 0; z-index: 1;">
                                    @if (User.HasClaim("Permission", "ArchiveUnarchiveUser"))
                                    {
                                        <a href="@Url.Action("Unarchive", new { id = user.UserID })" class="btn btn-success hide-when-archived" onclick="return confirm('Are you sure you want to unarchive this user?');"
                                               data-bs-toggle="tooltip"
                                               title="Unarchive User">
                                                <i class="bi bi-box-arrow-in-left"></i>
                                            </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success text-muted hide-when-archived"
                                               style="cursor: not-allowed;"
                                               aria-disabled="true"
                                               tabindex="-1"
                                               title="You do not have permission to unarchive user">
                                                <i class="bi bi-box-arrow-in-left"></i>
                                            </a>
                                    }
                                </td>
                                <td style="white-space: nowrap;">@user.UserID</td>
                                <td style="white-space: nowrap;">@user.Username</td>
                                <td style="white-space: nowrap;">@user.Email</td>
                                <td style="white-space: nowrap;">@user.PhoneNumber</td>
                                <td class="td-password" style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@user.PasswordHash</td>
                                <td style="white-space: nowrap;">@user.RoleID / @roleName</td>
                                <td style="white-space: nowrap;">@user.CreatedAt</td>
                                <td style="white-space: nowrap;">@user.ArchivedAt</td>
                                <td style="white-space: nowrap;">@user.ArchivedBy</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Create User Modal -->
<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Create New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" asp-controller="Users" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label asp-for="NewUser.Username" class="control-label"></label>
                        <input type="text" asp-for="NewUser.Username" class="form-control" required/>
                        <span asp-validation-for="NewUser.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewUser.Email" class="control-label"></label>
                        <input type="email" asp-for="NewUser.Email" class="form-control" required/>
                        <span asp-validation-for="NewUser.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewUser.PhoneNumber" class="control-label"></label>
                        <input type="number" asp-for="NewUser.PhoneNumber" class="form-control" required/>
                        <span asp-validation-for="NewUser.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewUser.PasswordHash" class="control-label">Password (Uses Default Password):</label>
                        <input type="password" asp-for="NewUser.PasswordHash" class="form-control" value="@Model.DefaultUserPassword" readonly required/>
                        <span asp-validation-for="NewUser.PasswordHash" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewUser.RoleID" class="control-label"></label>
                        <select asp-for="NewUser.RoleID" class="form-control">

                            @foreach (var role in Model.Roles)
                            {
                                <option value="@role.RoleID">@role.RoleName</option>
                            }

                        </select>
                        <span asp-validation-for="NewUser.RoleID" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/modals.js"></script>
}
