@model (string permission, string action, string controller, object routeValues, string icon, string tooltip, string style)

@if (User.HasClaim("Permission", Model.permission))
{
    <a asp-action="@Model.action" asp-controller="@Model.controller" asp-route-Id="@((Model.routeValues as dynamic).Id)"
       class="btn btn-@Model.style"
       data-bs-toggle="tooltip"
       title="@Model.tooltip">
        <i class="@Model.icon"></i>
    </a>
}
else
{
    <a class="btn btn-@Model.style text-muted"
       style="cursor: not-allowed;"
       aria-disabled="true"
       tabindex="-1"
       title="You do not have permission to @Model.tooltip">
        <i class="@Model.icon"></i>
    </a>
}
