@using LittleArkFoundation.Areas.Admin.Models.Patients
@model PatientsViewModel
@{
	ViewData["Title"] = "Admission";
	Layout = "_AdminLayout";
}

<h2>Admission</h2>

<div class="search-container">
    <form asp-action="Search" asp-controller="Form">
        <div class="input-group">
            <input type="search" name="searchString" class="form-control" placeholder="Search by Id/FullName" aria-label="Search">
            <button type="submit" class="btn btn-dark">Search</button>
        </div>
    </form>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Form">Back to Full List</a>
</div>

<div>
    <a class="btn btn-success" asp-action="Create" asp-controller="Form">Create New</a>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["CreateSuccess"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["EditSuccess"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="table-responsive" style="width: 60%;">
    <table class="table" style="width: max-content;">
        <thead>
            @if (Model != null)
            {
                <tr>
                    <th style="width: 100%;">Actions</th>
                    <th>PatientID</th>
                    <th>FirstName</th>
                    <th>MiddleName</th>
                    <th>LastName</th>
                    <th>DateOfBirth</th>
                    <th>Age</th>
                    <th>Sex</th>
                    <th>ContactNo</th>
                    <th>PlaceOfBirth</th>
                    <th>Gender</th>
                    <th>Religion</th>
                    <th>Nationality</th>
                    <th>PermanentAddress</th>
                    <th>TemporaryAddress</th>
                    <th>CivilStatus</th>
                    <th>EducationLevel</th>
                    <th>Occupation</th>
                    <th>MonthlyIncome</th>
                    <th>PhilhealthPIN</th>
                    <th>PhilhealthMembership</th>
                </tr>
            }
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var patient in Model.Patients)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("ViewForm", new { id = patient.PatientID })" class="btn btn-primary">Form</a>
                            <a href="@Url.Action("Archive", new { id = patient.PatientID })" class="btn btn-danger" onclick="return confirm('Are you sure you want to archive this data?');">Archive</a>
                        </td>
                        <td>@patient.PatientID</td>
                        <td>@patient.FirstName</td>
                        <td>@patient.MiddleName</td>
                        <td>@patient.LastName</td>
                        <td>@patient.DateOfBirth</td>
                        <td>@patient.Age</td>
                        <td>@patient.Sex</td>
                        <td>@patient.ContactNo</td>
                        <td>@patient.PlaceOfBirth</td>
                        <td>@patient.Gender</td>
                        <td>@patient.Religion</td>
                        <td>@patient.Nationality</td>
                        <td>@patient.PermanentAddress</td>
                        <td>@patient.TemporaryAddress</td>
                        <td>@patient.CivilStatus</td>
                        <td>@patient.EducationLevel</td>
                        <td>@patient.Occupation</td>
                        <td>@patient.MonthlyIncome</td>
                        <td>@patient.PhilhealthPIN</td>
                        <td>@patient.PhilhealthMembership</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>


