@using LittleArkFoundation.Areas.Admin.Models.Patients
@model PatientsViewModel
@{
    ViewData["Title"] = "Admission";
    Layout = "_AdminLayout";
}

<h2>Patient's History</h2>
<hr />

<a asp-action="Index" asp-controller="Form" class="btn btn-outline-secondary mb-3">
    ← Back to List
</a>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="table-responsive">
    <table class="table" style="width: fit-content;">
        <thead>
            @if (Model != null)
            {
                <tr>
                    <th>Actions</th>
                    <th>AssessmentID</th>
                    <th>PatientID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Name of Patient</th>
                    <th>Ward</th>
                    <th>Diagnosis</th>
                    <th>MSW</th>
                </tr>
            }
        </thead>
        <tbody>
            @if (Model != null)
            {
                var isFirst = true;
                @foreach (var assessment in Model.Assessments)
                {
                    var diagnosis = Model.MedicalHistory
                    .FirstOrDefault(m => m.AssessmentID == assessment.AssessmentID)?.AdmittingDiagnosis;

                    <tr>
                        <td>
                            <a href="@Url.Action("ViewForm", new { id = assessment.PatientID, assessmentID = assessment.AssessmentID })" class="btn btn-primary">View Form</a>
                            <a href="@Url.Action("Edit", new { id = assessment.PatientID, assessmentID = assessment.AssessmentID })" class="btn btn-success">Edit</a>
                        </td>
                        <td>
                            @assessment.AssessmentID
                            @if (isFirst)
                            {
                                @if (Model.Patient.IsActive)
                                {
                                    <span class="badge bg-info text-dark ms-2">Active</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger text-dark ms-2">Discharged</span>
                                }
                            }
                            else
                            {
                                <span class="badge bg-secondary text-dark ms-2">Old</span>
                            }
                        </td>
                        <td>@assessment.PatientID</td>
                        <td>@assessment.DateOfInterview</td>
                        <td>@assessment.TimeOfInterview</td>
                        <td>
                            @Model.Patient.LastName, @Model.Patient.FirstName @Model.Patient.MiddleName
                        </td>
                        <td>@assessment.BasicWard</td>
                        <td>@(diagnosis ?? "—")</td>
						<td>@assessment.MSWDNo</td>
                    </tr>
                    isFirst = false;
                }
            }
        </tbody>
    </table>

</div>