@using LittleArkFoundation.Areas.Admin.Models.Patients
@model PatientsViewModel
@{
    ViewData["Title"] = "Admission";
    Layout = "_AdminLayout";
}

<style>
    .menu-bar a {
        min-width: 100px;
        text-align: center;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    .header-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

        .header-bar h2 {
            margin-bottom: 0;
        }

</style>


<div class="header-bar">
    <h2>Patient's History</h2>

    <div class="menu-bar d-flex gap-2">
        <!-- Main -->
        <a class="btn btn-outline-dark @(
           ViewContext.RouteData.Values["controller"]?.ToString() == "Form" &&
           (
               ViewContext.RouteData.Values["action"]?.ToString() == "Index" ||
               ViewContext.RouteData.Values["action"]?.ToString() == "SortBy" ||
               ViewContext.RouteData.Values["action"]?.ToString() == "Search" ||
		       ViewContext.RouteData.Values["action"]?.ToString() == "ViewHistory"
           ) ? "active" : "")"
           asp-action="Index" asp-controller="Form">Main</a>

        <!-- General -->
        <a class="btn btn-outline-dark @(
                      ViewContext.RouteData.Values["controller"]?.ToString() == "GeneralAdmission"
                      ? "active" : "")"
           asp-action="Index" asp-controller="GeneralAdmission">General</a>

        <a class="btn btn-outline-dark @(
                    ViewContext.RouteData.Values["controller"]?.ToString() == "GeneralAdmission" &&
                    (
                        ViewContext.RouteData.Values["action"]?.ToString() == "Reports" ||
                        ViewContext.RouteData.Values["action"]?.ToString() == "SortByReports"
                    ) ? "active" : "")"
        asp-action="Reports" asp-controller="GeneralAdmission">Reports</a>

        <!-- Statistics -->
        <a class="btn btn-outline-dark @(
                      ViewContext.RouteData.Values["controller"]?.ToString() == "Form" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Statistics"
                      ? "active" : "")"
           asp-action="Statistics" asp-controller="Form">Statistics</a>
    </div>
</div>
<hr />

<a asp-action="Index" asp-controller="Form" class="btn btn-outline-secondary mb-3">
    ← Back to List
</a>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="table-responsive">
    <table class="table" style="width: fit-content;">
        <thead>
            @if (Model != null)
            {
                <tr>
                    <th>Actions</th>
                    <th>AssessmentID</th>
                    <th>PatientID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Name of Patient</th>
                    <th>Age</th>
                    <th>Ward</th>
                    <th>Diagnosis</th>
                    <th>MSW</th>
                </tr>
            }
        </thead>
        <tbody>
            @if (Model != null)
            {
                var isFirst = true;
                @foreach (var assessment in Model.Assessments)
                {
                    var diagnosis = Model.MedicalHistory
                    .FirstOrDefault(m => m.AssessmentID == assessment.AssessmentID)?.AdmittingDiagnosis;

					var user = Model.Users.FirstOrDefault(u => u.UserID == assessment.UserID);

                    <tr>
                        <td>
                            <a href="@Url.Action("ViewForm", new { id = assessment.PatientID, assessmentID = assessment.AssessmentID })" 
                                class="btn btn-primary"
                                data-bs-toggle="tooltip"
                                title="View Form">
                                    <i class="bx bx-file"></i>
                            </a>
                            @if (Model.Patient.IsActive)
                            {
                                if (isFirst)
                                {
                                    @if (User.HasClaim("Permission", "EditForm"))
                                    {
                                        <a href="@Url.Action("Edit", new { id = assessment.PatientID, assessmentID = assessment.AssessmentID })" 
                                           class="btn btn-success"
                                           data-bs-toggle="tooltip"
                                           title="Edit">
                                                <i class="bx bx-edit"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success text-muted"
                                           style="cursor: not-allowed;"
                                           aria-disabled="true"
                                           tabindex="-1"
                                           title="You do not have permission to Edit">
                                            <i class="bx bx-edit"></i>
                                        </a>
                                    }
                                }
                            }
                        </td>
                        <td>
                            @assessment.AssessmentID
                            @if (isFirst)
                            {
                                @if (Model.Patient.IsActive)
                                {
                                    <span class="badge bg-info text-dark ms-2">Active</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger text-dark ms-2">Discharged</span>
                                }
                            }
                            else
                            {
                                <span class="badge bg-secondary text-dark ms-2">Old</span>
                            }
                        </td>
                        <td>@assessment.PatientID</td>
                        <td>@assessment.DateOfInterview</td>
                        <td>@assessment.TimeOfInterview</td>
                        <td>
                            @Model.Patient.LastName, @Model.Patient.FirstName @Model.Patient.MiddleName
                        </td>
                        <td>@assessment.Age</td>
                        <td>@assessment.BasicWard</td>
                        <td>@(diagnosis ?? "—")</td>
						<td>@user.Username</td>
                    </tr>
                    isFirst = false;
                }
            }
        </tbody>
    </table>

</div>