@model LittleArkFoundation.Areas.Admin.Models.GeneralAdmission.GeneralAdmissionViewModel

<div class="container-fluid px-0 mx-0" style="max-width: 1600px;">
    <div class="table-responsive" style="overflow-x: auto;">
        <table class="table" style="min-width: 1200px;">
            <thead>
                @if (Model != null)
                {
                    <tr>
                        <th>MSW</th>
                        <th>Date</th>
                        <th>Name of Patient</th>
                        <th>Ward</th>
                    </tr>
                }
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var generalAdmission in Model.GeneralAdmissions)
                    {
                        <tr>
                            <td style="white-space: nowrap;">@generalAdmission.MSW</td>
                            <td style="white-space: nowrap;">@generalAdmission.Date</td>
                            <td style="white-space: nowrap;">@generalAdmission.LastName, @generalAdmission.FirstName @generalAdmission.MiddleName</td>
                            <td style="white-space: nowrap;">@generalAdmission.Ward</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

