@using LittleArkFoundation.Areas.Admin.Models.SystemLogs
@model LogsViewModel
@{
	ViewData["Title"] = "System Logs";
	Layout = "_AdminLayout";
}

<h2>System Logs</h2>
<hr />

<div class="search-container">
    <form asp-action="Search" asp-controller="SystemLogs" >
        <div class="input-group">
            <input type="date" name="searchString" class="form-control" placeholder="Search by Date" aria-label="Search">
            <button type="submit" class="btn btn-dark">Search</button>
        </div>
    </form>
    <a class="btn btn-primary" asp-action="Index" asp-controller="SystemLogs">Back to Full List</a>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="table-responsive" style="width: 60%;">
    <table class="table" style="width: fit-content;">
        <thead>
            @if (Model != null)
            {
                <tr>
                    <th>Id</th>
                    <th>Message</th>
                    <th>Level</th>
                    <th>TimeStamp</th>
                </tr>
            }
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var log in Model.LogsList)
                {
                    <tr>
                        <th>@log.Id</th>
                        <th>@log.Message</th>
                        <th>@log.Level</th>
                        <th>@log.TimeStamp</th>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
