@using LittleArkFoundation.Areas.Admin.Models.Discharges
@model DischargeViewModel

@{
    ViewData["Title"] = "Discharge";
    Layout = "_AdminLayout";
    string? sortBy = ViewBag.sortBy ?? "";
    bool matchedUser = Model.Users.Any(u => u.Username == sortBy);

}

<h2>Discharge</h2>
<hr />

<div class="d-flex justify-content-between align-items-start flex-wrap gap-2 mb-3">
    <div class="search-container" style="width: 100%">
        <form asp-action="Search" asp-controller="Discharge">
            <div class="input-group">
                <input type="search" name="searchString" class="form-control" placeholder="Search by FullName" aria-label="Search">
                <button type="submit" class="btn btn-dark">Search</button>
            </div>
        </form>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Discharge">← Back to Full List</a>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle d-flex align-items-center gap-1" data-bs-toggle="dropdown" aria-expanded="false">
            @if (string.IsNullOrEmpty(sortBy))
            {
                <span class="mb-0">Sort by</span>
            }
            else
            {
                <span class="mb-0">@sortBy</span>
            }
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-action="SortBy" asp-controller="Discharge" asp-route-sortByUserID="">All</a></li>
            @foreach (var user in Model.Users)
            {
                <li><a class="dropdown-item" asp-action="SortBy" asp-controller="Discharge" asp-route-sortByUserID="@user.UserID">@user.Username</a></li>
            }
        </ul>
        @if (matchedUser)
        {
            foreach (var user in Model.Users)
            {
                if (user.Username == sortBy)
                {
                    <a class="btn btn-sm btn-success" style="margin-left:5px;"
                       asp-action="ExportToExcel"
                       asp-route-userID="@user.UserID">
                        Download Excel (@user.Username)
                    </a>
                }
            }
        }
        else
        {
            <a class="btn btn-sm btn-success" style="margin-left:5px;"
               asp-action="ExportToExcel">
                Download Excel (All)
            </a>
        }
        <a class="btn btn-sm btn-primary" style="margin-left:5px;"
            asp-action="ViewStats">
            View Stats
        </a>
    </div>


</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-fluid px-0 mx-0" style="max-width: 1600px;">
    <div class="table-responsive" style="overflow-x: auto;">
        <table class="table" style="min-width: 1200px;">
            <thead>
                @if (Model != null)
                {
                    <tr>
                        <th>No.</th>
                        <th>Date Processed</th>
                        <th>Date of Discharge</th>
                        <th>Name of Patient</th>
                        <th>Ward</th>
                        <th>Received HB</th>
                        <th>Issued MSS Faci</th>
                        <th>Duration</th>
                        <th>Class</th>
                        <th>PHIC Category</th>
                        <th>PHIC Used?</th>
                        <th>Remarks if NO</th>
                        <th>MSW</th>
                    </tr>
                }
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var discharge in Model.Discharges)
                    {
                        <tr>
                            <td style="white-space: nowrap;">@discharge.Id</td>
                            <td style="white-space: nowrap;">@discharge.ProcessedDate</td>
                            <td style="white-space: nowrap;">@discharge.DischargedDate</td>
                            <td style="white-space: nowrap;">@discharge.LastName, @discharge.FirstName @discharge.MiddleName</td>
                            <td style="white-space: nowrap;">@discharge.Ward</td>
                            <td style="white-space: nowrap;">@discharge.ReceivedHB</td>
                            <td style="white-space: nowrap;">@discharge.IssuedMSS</td>
                            <td style="white-space: nowrap;">@discharge.Duration</td>
                            <td style="white-space: nowrap;">@discharge.Class</td>
                            <td style="white-space: nowrap;">@discharge.PHICCategory</td>
                            <td style="white-space: nowrap;">@discharge.PHICUsed</td>
                            <td style="white-space: nowrap;">@discharge.RemarksIfNo</td>
                            <td style="white-space: nowrap;">@discharge.MSW</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
