@model LittleArkFoundation.Areas.Admin.Models.OPD.OPDViewModel
@{
    ViewData["Title"] = "OPD";
    Layout = "_AdminLayout";
    string? sortToggle = ViewBag.sortToggle ?? "All";
    string? sortBy = ViewBag.sortBy ?? "";
	string? sortByUserID = ViewBag.sortByUserID ?? "";
    string? sortByMonth = ViewBag.sortByMonth ?? "";
    bool matchedUser = Model.Users.Any(u => u.Username == sortBy);
}

<style>
    .menu-bar a {
        min-width: 100px;
        text-align: center;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    .header-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

        .header-bar h2 {
            margin-bottom: 0;
        }

    .sticky-col {
        position: sticky;
        left: 0;
        background: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

</style>


<div class="header-bar">
    <h2>OPD</h2>

    <div class="menu-bar d-flex gap-2">
        <a class="btn btn-outline-dark @(
           ViewContext.RouteData.Values["action"]?.ToString() == "Index" ||
           ViewContext.RouteData.Values["action"]?.ToString() == "SortBy" ||
           ViewContext.RouteData.Values["action"]?.ToString() == "Search"
           ? "active" : "")"
           asp-action="Index" asp-controller="OPD">Main</a>

        <a class="btn btn-outline-dark @(ViewContext.RouteData.Values["action"]?.ToString() == "OPDAssisted" ? "active" : "")"
           asp-action="OPDAssisted" asp-controller="OPD">OPD Assisted</a>

        <a class="btn btn-outline-dark @(ViewContext.RouteData.Values["action"]?.ToString() == "Reports" ? "active" : "")"
           asp-action="Reports" asp-controller="OPD">Reports</a>

        <a class="btn btn-outline-dark @(ViewContext.RouteData.Values["action"]?.ToString() == "Statistics" ? "active" : "")"
           asp-action="Statistics" asp-controller="OPD">Statistics</a>
    </div>
</div>
<hr />

@* Search *@
<div class="d-flex justify-content-between align-items-start flex-wrap gap-2 mb-3">
    <div class="search-container" style="width: 100%">
        <form asp-action="Search" asp-route-sortToggle="@sortToggle" asp-controller="OPD">
            <div class="input-group">
                <input type="search" name="searchString" class="form-control" placeholder="Search by Id/FullName" aria-label="Search">
                <button type="submit" class="btn btn-dark"
                data-bs-toggle="tooltip"
                title="Search">
                    <i class="bi bi-search"></i> 
                </button>
            </div>
        </form>
        <a class="btn btn-primary" asp-action="Index" asp-controller="OPD">← Back to Full List</a>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center">

    @* Left toggles/buttons *@
    <div class="d-flex align-items-center gap-3">
        @if (sortToggle == "All" || sortToggle == "Not Admitted")
        {
            <a class="btn btn-success" asp-action="Create" asp-controller="OPD">
                <i class="bi bi-file-earmark-plus"></i> Create New
            </a>
        }

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a asp-action="Index" asp-controller="OPD" asp-route-sortToggle="All" class="btn btn-secondary @(sortToggle == "All" ? "active" : "")">
                <div class="custom-radio">
                    <input type="radio" style="accent-color: dodgerblue" value="main" @(sortToggle == "All" ? "checked" : "")>
                    <label style="margin-bottom: 0">All</label>
                </div>
            </a>
            <a asp-action="Index" asp-controller="OPD" asp-route-sortToggle="Not Admitted" class="btn btn-secondary @(sortToggle == "Not Admitted" ? "active" : "")">
                <div class="custom-radio">
                    <input type="radio" style="accent-color: dodgerblue" value="main" @(sortToggle == "Not Admitted" ? "checked" : "")>
                    <label style="margin-bottom: 0">Not Admitted</label>
                </div>
            </a>
            <a asp-action="Index" asp-controller="OPD" asp-route-sortToggle="Admitted" class="btn btn-secondary @(sortToggle == "Admitted" ? "active" : "")">
                <div class="custom-radio">
                    <input type="radio" style="accent-color: dodgerblue" value="main" @(sortToggle == "Admitted" ? "checked" : "")>
                    <label style="margin-bottom: 0">Admitted</label>
                </div>
            </a>
        </div>

        <div class="form-check form-switch mb-0">
          <input class="form-check-input" type="checkbox" role="switch" id="dssFlexSwitchCheckChecked" 
          onchange="updateDSSEnabled()" checked>
          <label class="form-check-label" for="dssFlexSwitchCheckChecked">Enable DSS</label>
        </div>
    </div>

    @* Right toggles/buttons *@
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle d-flex align-items-center gap-1 me-2" data-bs-toggle="dropdown" aria-expanded="false">
            @if (string.IsNullOrEmpty(sortBy))
            {
                <span class="mb-0">Sort by MSW</span>
            }
            else
            {
                <span class="mb-0">@sortBy</span>
            }
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-action="SortBy" asp-controller="OPD" asp-route-sortByUserID="" asp-route-sortByMonth="@sortByMonth" asp-route-sortToggle="@sortToggle">All</a></li>
            @foreach (var user in Model.Users)
            {
                <li><a class="dropdown-item" asp-action="SortBy" asp-controller="OPD" asp-route-sortByUserID="@user.UserID" asp-route-sortByMonth="@sortByMonth" asp-route-sortToggle="@sortToggle">@user.Username</a></li>
            }
        </ul>
        @* @if (matchedUser)
        {
            foreach (var user in Model.Users)
            {
                if (user.Username == sortBy)
                {
                    <a class="btn btn-sm btn-success" style="margin-left:5px;"
                       asp-action="ExportLogsheetToExcel"
                       asp-route-userID="@user.UserID">
                        Download Excel (@user.Username)
                    </a>
                }
            }
        }
        else
        {
            <a class="btn btn-sm btn-success" style="margin-left:5px;"
               asp-action="ExportLogsheetToExcel">
                Download Excel (All)
            </a>
        } *@

        @* Month filter *@
        <form method="get" asp-action="SortBy" class="d-flex align-items-center gap-2">
            <input type="hidden" name="sortByUserID" value="@sortByUserID" />
            <input type="hidden" name="sortToggle" value="@sortToggle" />
            <input type="month" name="sortByMonth" class="form-control form-control-sm" value="@sortByMonth" />
            <button type="submit" class="btn btn-secondary btn-sm" style="width: 100%;">
                <i class="bi bi-filter"></i> Filter Month
            </button>
        </form>

        <button type="button" class="btn btn-success btn-sm" style="margin-left:5px;" 
        data-bs-toggle="modal" 
        data-bs-target="#exportModal"
        data-bs-toggle="tooltip"
        title="Download Excel">
            <i class="bi bi-download"></i> Download Excel
        </button>

    </div>

</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 60%;">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-fluid px-0 mx-0" style="max-width: 1600px;">
    <div class="table-responsive" style="overflow-x: auto;">
        <table class="table" style="min-width: 1200px;">
            <thead>
                <tr>
                    <th class="sticky-col" style="width: 100%; left: 0; z-index: 2;">Actions</th>
                    <th id="dssTableHeader">DSS</th>
                    <th>Date</th>
                    <th>No</th>
                    <th>Old/New</th>
                    <th>Class</th>
                    <th>Name of Patient</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>PWD</th>
                    <th>Diagnosis</th>
                    <th>Complete Address</th>
                    <th>Source of Referral</th>
                    <th>Name of Parents</th>
                    <th>Occupation</th>
                    <th>Monthly Income</th>
                    <th>No. of Children</th>
                    <th>Assistance Needed</th>
                    <th>Amount</th>
                    <th>Pt's Share</th>
                    <th>Amount Extended</th>
                    <th>Resources</th>
                    <th>Proponent of GL</th>
                    <th>Amt of Received GL</th>
                    <th>MSW</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model.OPDScoringList)
                    {
						var opd = item.opd;
						var scores = item.scores;
						var totalScore = scores.Values.Sum();
                        var isEligible = item.isEligible;

                        var modalId = $"scoreBreakdownModal_{opd.Id}";
                        var modalLabelId = $"{modalId}_label";
                        <tr>
                            <td class="sticky-col d-flex gap-1" style="white-space: nowrap; left: 0; z-index: 1;">
								@if (!opd.IsAdmitted)
								{

                                    @if (User.HasClaim("Permission", "CreateForm"))
                                    {
                                        <a class="btn btn-primary" asp-action="AdmitOPD" asp-controller="Form" asp-route-id="@opd.Id" 
                                        onclick="return confirm('Are you sure you want to admit this OPD?');"
                                        data-bs-toggle="tooltip"
                                        title="Admit Patient">
                                            <i class="bi bi-box-arrow-in-right"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary text-muted"
                                           style="cursor: not-allowed;"
                                           aria-disabled="true"
                                           tabindex="-1"
                                           title="You do not have permission to Admit OPD">
                                            <i class="bi bi-box-arrow-in-right"></i>
                                        </a>
                                    }

									<a class="btn btn-success" asp-action="Edit" asp-route-id="@opd.Id"
                                    data-bs-toggle="tooltip"
                                    title="Edit">
                                        <i class="bx bx-edit"></i>
                                    </a>
                                    @* if (User.HasClaim("Permission", "DeleteOPD"))
                                    {
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@opd.Id" onclick="return confirm('Are you sure you want to delete this OPD?');">Delete</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger text-muted" style="cursor: not-allowed;" title="You do not have permission">
                                            Delete
                                        </a>
                                    } *@
								}
                                else
                                {
                                    <span class="badge bg-secondary text-dark ms-2">Admitted</span>
								}
		
							</td>
                            <td id="dssTableData">
                                <button type="button"
                                        class="badge @(isEligible ? "bg-success" : "bg-danger") text-dark ms-2 border-0"
                                        data-bs-toggle="modal"
                                        data-bs-target="#@modalId">
                                    @(isEligible ? "Eligible" : "Not Eligible")
                                </button>
                            </td>
                            <td style="white-space: nowrap;">@opd.Date</td>
                            <td style="white-space: nowrap;">@opd.Id</td>
                            <td style="white-space: nowrap;">
                                @if (opd.IsOld)
                                {
                                    <label>Old</label>
                                }
                                else
                                {
                                    <label>New</label>
                                }
                            </td>
                            <td style="white-space: nowrap;">@opd.Class</td>
                            <td style="white-space: nowrap;">@opd.LastName, @opd.FirstName @opd.MiddleName</td>
                            <td style="white-space: nowrap;">@opd.Age</td>
                            <td style="white-space: nowrap;">@opd.Gender</td>
                            <td style="white-space: nowrap;">
                                @if (opd.IsPWD)
                                {
                                    <label>Yes</label>
                                }
                                else
                                {
                                    <label>No</label>
                                }
                            </td>
                            <td style="white-space: nowrap;">@opd.Diagnosis</td>
                            <td style="white-space: nowrap;">@opd.Address</td>
                            <td style="white-space: nowrap;">@opd.SourceOfReferral</td>
                            <td style="white-space: nowrap;">@opd.MotherFirstName / @opd.FatherFirstName</td>
                            <td style="white-space: nowrap;">@opd.MotherOccupation / @opd.FatherOccupation</td>
							<td style="white-space: nowrap;">@opd.MonthlyIncome</td>
							<td style="white-space: nowrap;">@opd.NoOfChildren</td>
							<td style="white-space: nowrap;">@opd.AssistanceNeeded</td>
							<td style="white-space: nowrap;">@opd.Amount</td>
							<td style="white-space: nowrap;">@opd.PtShare</td>
							<td style="white-space: nowrap;">@opd.AmountExtended</td>
							<td style="white-space: nowrap;">@opd.Resources</td>
							<td style="white-space: nowrap;">@opd.GLProponent</td>
							<td style="white-space: nowrap;">@opd.GLAmountReceived</td>
							<td style="white-space: nowrap;">@opd.MSW</td>
							<td style="white-space: nowrap;">@opd.Category</td>
                        </tr>

                        <!-- Weighted Score Modal -->
                        <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="@modalLabelId" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="@modalLabelId">Weighted Score Breakdown</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                             <h6 class="ms-2">Factors</h6>
                                             <h6 class="me-2">Points</h6>
                                        </div>
                                        <ul class="list-group">
                                            @foreach (var score in scores)
                                            {
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    @score.Key 
                                                    <span class="badge bg-primary rounded-pill">@score.Value</span>
                                                </li>
                                            }
                                        </ul>
                                        <hr />
                                        <p class="text-end text-secondary fw-medium small mb-0">
                                            Threshold: ≥ 35
                                        </p>
                                        <p class="text-end fw-bold">
                                            Total Score: <span class="@(isEligible ? "text-success" : "text-danger")">@totalScore</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Download/Export Excel Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="ExportLogsheetToExcel" asp-controller="OPD" method="get">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportModalLabel">Export to Excel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="userID" class="form-label">MSW</label>
                        <select class="form-select" id="userID" name="userID">
                            <option value="0">All</option>
                            @foreach (var user in Model.Users)
                            {
                                <option value="@user.UserID">@user.Username</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="month" class="form-label">Month</label>
                        <input type="month" id="month" name="month" class="form-control">
                        <div class="form-text">Leave empty for "All Time"</div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Export</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // function updateDSSEnabled() {
        //     const checkbox = document.getElementById('dssFlexSwitchCheckChecked');
        //     const dssEnabled = checkbox.checked;
        //     // You can add logic here to handle the DSS state change

        //     const dssTableHeader = document.getElementById('dssTableHeader');
        //     const dssTableData = document.querySelectorAll('#dssTableData');

        //     if (dssEnabled) {
        //         dssTableHeader.style.display = 'table-cell';
        //         dssTableData.forEach(td => td.style.display = 'table-cell');
        //     } else {
        //         dssTableHeader.style.display = 'none';
        //         dssTableData.forEach(td => td.style.display = 'none');
        //     }
        // }

        window.onload = function () {
            const checkbox = document.getElementById('dssFlexSwitchCheckChecked');
            const dssEnabled = localStorage.getItem('dssEnabled') === 'true';
            checkbox.checked = dssEnabled;
            toggleDSSTable(dssEnabled);
        };

        function updateDSSEnabled() {
            const checkbox = document.getElementById('dssFlexSwitchCheckChecked');
            const dssEnabled = checkbox.checked;
            localStorage.setItem('dssEnabled', dssEnabled); // store the state
            toggleDSSTable(dssEnabled);
        }

        function toggleDSSTable(enabled) {
            const dssTableHeader = document.getElementById('dssTableHeader');
            const dssTableData = document.querySelectorAll('#dssTableData');

            dssTableHeader.style.display = enabled ? 'table-cell' : 'none';
            dssTableData.forEach(td => td.style.display = enabled ? 'table-cell' : 'none');
        }

    </script>
}








